# Exercise 02 -  OLAP Cubes - Slicing and Dicing

All the databases table in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

Start by creating and connecting to the database by running the cells below. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed the slicing and dicing exercise, then skip to the second cell.

In [2]:
# Export the pagila database to a sql file. Then create the pagila_star database and import the data into that database

In [6]:
!pg_dump -U postgres -h 127.0.0.1 pagila >> ../Data/pagila_star.sql

In [7]:
!PGPASSWORD=student createdb -h 127.0.0.1 -U postgres pagila_star
!PGPASSWORD=student psql -q -h 127.0.0.1 -U postgres -d pagila_star -f ../Data/pagila_star.sql

 set_config
------------

(1 row)

 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

 set_config
------------

(1 row)

psql:../Data/pagila_star.sql:66501: ERROR:  type "mpaa_rating" already exists
psql:../Data/pagila_star.sql:66511: ERROR:  type "year" already exists
psql:../Data/pagila_star.sql:66528: ERROR:  function "_group_concat" already exists with same argument types
psql:../Data/pagila_star.sql:66545: ERROR:  function "film_in_stock" already exists with same argument types
psql:../Data/pagila_star.sql:66562: ERROR:  function "film_not_in_stock" already exists with same argument types
psql:../Data/pagila_star.sql:66607: ERROR:  function "get_customer_balance" already exists with same argument types
psql:../Data/pagila_star.sql:66629: ERROR:  function "inventory_held_by_customer" already exists with same argument types
psql:../Data/pagila_star.sql:66666: ERROR:  function "inventory_in_stock" already exists with same argument types
psql:../Data/pagila_star.sql:66684: ERROR:  function "last_day" already exists with same argument types
psql:../Data/pagila_star.sql:66699: ERROR:  function "last_updated" already exists with same argument types
psql:../Data/pagila_star.sql:66723: ERROR:  relation "customer" already exists
psql:../Data/pagila_star.sql:66787: ERROR:  function "rewards_report" already exists with same argument types
psql:../Data/pagila_star.sql:66799: ERROR:  function "group_concat" already exists with same argument types
psql:../Data/pagila_star.sql:66813: ERROR:  relation "actor_actor_id_seq" already exists
psql:../Data/pagila_star.sql:66827: ERROR:  relation "actor" already exists
psql:../Data/pagila_star.sql:66841: ERROR:  relation "category_category_id_seq" already exists
psql:../Data/pagila_star.sql:66854: ERROR:  relation "category" already exists
psql:../Data/pagila_star.sql:66868: ERROR:  relation "film_film_id_seq" already exists
psql:../Data/pagila_star.sql:66892: ERROR:  relation "film" already exists
psql:../Data/pagila_star.sql:66905: ERROR:  relation "film_actor" already exists
psql:../Data/pagila_star.sql:66918: ERROR:  relation "film_category" already exists
psql:../Data/pagila_star.sql:66941: ERROR:  relation "actor_info" already exists
psql:../Data/pagila_star.sql:66955: ERROR:  relation "address_address_id_seq" already exists
psql:../Data/pagila_star.sql:66973: ERROR:  relation "address" already exists
psql:../Data/pagila_star.sql:66987: ERROR:  relation "city_city_id_seq" already exists
psql:../Data/pagila_star.sql:67001: ERROR:  relation "city" already exists
psql:../Data/pagila_star.sql:67015: ERROR:  relation "country_country_id_seq" already exists
psql:../Data/pagila_star.sql:67028: ERROR:  relation "country" already exists
psql:../Data/pagila_star.sql:67042: ERROR:  relation "customer_customer_id_seq" already exists
psql:../Data/pagila_star.sql:67057: ERROR:  relation "customer_customer_id_seq1" already exists
psql:../Data/pagila_star.sql:67089: ERROR:  relation "customer_list" already exists
psql:../Data/pagila_star.sql:67115: ERROR:  relation "dimcustomer" already exists
psql:../Data/pagila_star.sql:67130: ERROR:  relation "dimcustomer_customer_key_seq" already exists
psql:../Data/pagila_star.sql:67155: ERROR:  relation "dimdate" already exists
psql:../Data/pagila_star.sql:67170: ERROR:  relation "dimdate_date_key_seq" already exists
psql:../Data/pagila_star.sql:67198: ERROR:  relation "dimmovie" already exists
psql:../Data/pagila_star.sql:67213: ERROR:  relation "dimmovie_movie_key_seq" already exists
psql:../Data/pagila_star.sql:67242: ERROR:  relation "dimstore" already exists
psql:../Data/pagila_star.sql:67257: ERROR:  relation "dimstore_store_key_seq" already exists
psql:../Data/pagila_star.sql:67280: ERROR:  relation "factsales" already exists
psql:../Data/pagila_star.sql:67295: ERROR:  relation "factsales_sales_key_seq" already exists
psql:../Data/pagila_star.sql:67325: ERROR:  relation "film_list" already exists
psql:../Data/pagila_star.sql:67339: ERROR:  relation "inventory_inventory_id_seq" already exists
psql:../Data/pagila_star.sql:67353: ERROR:  relation "inventory" already exists
psql:../Data/pagila_star.sql:67367: ERROR:  relation "language_language_id_seq" already exists
psql:../Data/pagila_star.sql:67380: ERROR:  relation "language" already exists
psql:../Data/pagila_star.sql:67403: ERROR:  relation "nicer_but_slower_film_list" already exists
psql:../Data/pagila_star.sql:67417: ERROR:  relation "payment_payment_id_seq" already exists
psql:../Data/pagila_star.sql:67434: ERROR:  relation "payment" already exists
psql:../Data/pagila_star.sql:67450: ERROR:  relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:67451: ERROR:  "payment_p2017_01" is already a partition
psql:../Data/pagila_star.sql:67467: ERROR:  relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:67468: ERROR:  "payment_p2017_02" is already a partition
psql:../Data/pagila_star.sql:67484: ERROR:  relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:67485: ERROR:  "payment_p2017_03" is already a partition
psql:../Data/pagila_star.sql:67501: ERROR:  relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:67502: ERROR:  "payment_p2017_04" is already a partition
psql:../Data/pagila_star.sql:67518: ERROR:  relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:67519: ERROR:  "payment_p2017_05" is already a partition
psql:../Data/pagila_star.sql:67535: ERROR:  relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:67536: ERROR:  "payment_p2017_06" is already a partition
psql:../Data/pagila_star.sql:67550: ERROR:  relation "rental_rental_id_seq" already exists
psql:../Data/pagila_star.sql:67567: ERROR:  relation "rental" already exists
psql:../Data/pagila_star.sql:67586: ERROR:  relation "sales_by_film_category" already exists
psql:../Data/pagila_star.sql:67600: ERROR:  relation "staff_staff_id_seq" already exists
psql:../Data/pagila_star.sql:67621: ERROR:  relation "staff" already exists
psql:../Data/pagila_star.sql:67635: ERROR:  relation "store_store_id_seq" already exists
psql:../Data/pagila_star.sql:67649: ERROR:  relation "store" already exists
psql:../Data/pagila_star.sql:67671: ERROR:  relation "sales_by_store" already exists
psql:../Data/pagila_star.sql:67692: ERROR:  relation "staff_list" already exists
psql:../Data/pagila_star.sql:67944: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
psql:../Data/pagila_star.sql:68555: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
psql:../Data/pagila_star.sql:68579: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
psql:../Data/pagila_star.sql:69187: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
psql:../Data/pagila_star.sql:69304: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
psql:../Data/pagila_star.sql:69911: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
psql:../Data/pagila_star.sql:70518: ERROR:  duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(1) already exists.
CONTEXT:  COPY dimcustomer, line 1

psql:../Data/pagila_star.sql:70566: ERROR:  duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20170407) already exists.
CONTEXT:  COPY dimdate, line 1
psql:../Data/pagila_star.sql:71574: ERROR:  duplicate key value violates unique constraint "dimmovie_pkey"
DETAIL:  Key (movie_key)=(1) already exists.
CONTEXT:  COPY dimmovie, line 1
psql:../Data/pagila_star.sql:71584: ERROR:  duplicate key value violates unique constraint "dimstore_pkey"
DETAIL:  Key (store_key)=(1) already exists.
CONTEXT:  COPY dimstore, line 1
psql:../Data/pagila_star.sql:87641: ERROR:  duplicate key value violates unique constraint "factsales_pkey"
DETAIL:  Key (sales_key)=(1) already exists.
CONTEXT:  COPY factsales, line 1
psql:../Data/pagila_star.sql:88649: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:../Data/pagila_star.sql:94119: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:../Data/pagila_star.sql:95127: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
psql:../Data/pagila_star.sql:99716: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
psql:../Data/pagila_star.sql:99730: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
psql:../Data/pagila_star.sql:131879: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
psql:../Data/pagila_star.sql:131889: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
psql:../Data/pagila_star.sql:131899: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

psql:../Data/pagila_star.sql:132040: ERROR:  multiple primary keys for table "actor" are not allowed
psql:../Data/pagila_star.sql:132048: ERROR:  multiple primary keys for table "address" are not allowed
psql:../Data/pagila_star.sql:132056: ERROR:  multiple primary keys for table "category" are not allowed
psql:../Data/pagila_star.sql:132064: ERROR:  multiple primary keys for table "city" are not allowed
psql:../Data/pagila_star.sql:132072: ERROR:  multiple primary keys for table "country" are not allowed
psql:../Data/pagila_star.sql:132080: ERROR:  multiple primary keys for table "customer" are not allowed
psql:../Data/pagila_star.sql:132088: ERROR:  multiple primary keys for table "dimcustomer" are not allowed
psql:../Data/pagila_star.sql:132096: ERROR:  multiple primary keys for table "dimdate" are not allowed
psql:../Data/pagila_star.sql:132104: ERROR:  multiple primary keys for table "dimmovie" are not allowed
psql:../Data/pagila_star.sql:132112: ERROR:  multiple primary keys for table "dimstore" are not allowed
psql:../Data/pagila_star.sql:132120: ERROR:  multiple primary keys for table "factsales" are not allowed
psql:../Data/pagila_star.sql:132128: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:../Data/pagila_star.sql:132136: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:../Data/pagila_star.sql:132144: ERROR:  multiple primary keys for table "film" are not allowed
psql:../Data/pagila_star.sql:132152: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:../Data/pagila_star.sql:132160: ERROR:  multiple primary keys for table "language" are not allowed
psql:../Data/pagila_star.sql:132168: ERROR:  multiple primary keys for table "rental" are not allowed
psql:../Data/pagila_star.sql:132176: ERROR:  multiple primary keys for table "staff" are not allowed
psql:../Data/pagila_star.sql:132184: ERROR:  multiple primary keys for table "store" are not allowed
psql:../Data/pagila_star.sql:132191: ERROR:  relation "film_fulltext_idx" already exists
psql:../Data/pagila_star.sql:132198: ERROR:  relation "idx_actor_last_name" already exists
psql:../Data/pagila_star.sql:132205: ERROR:  relation "idx_fk_address_id" already exists
psql:../Data/pagila_star.sql:132212: ERROR:  relation "idx_fk_city_id" already exists
psql:../Data/pagila_star.sql:132219: ERROR:  relation "idx_fk_country_id" already exists
psql:../Data/pagila_star.sql:132226: ERROR:  relation "idx_fk_customer_id" already exists
psql:../Data/pagila_star.sql:132233: ERROR:  relation "idx_fk_film_id" already exists
psql:../Data/pagila_star.sql:132240: ERROR:  relation "idx_fk_inventory_id" already exists
psql:../Data/pagila_star.sql:132247: ERROR:  relation "idx_fk_language_id" already exists
psql:../Data/pagila_star.sql:132254: ERROR:  relation "idx_fk_original_language_id" already exists
psql:../Data/pagila_star.sql:132261: ERROR:  relation "idx_fk_payment_p2017_01_customer_id" already exists
psql:../Data/pagila_star.sql:132268: ERROR:  relation "idx_fk_staff_id" already exists
psql:../Data/pagila_star.sql:132275: ERROR:  relation "idx_fk_payment_p2017_01_staff_id" already exists
psql:../Data/pagila_star.sql:132282: ERROR:  relation "idx_fk_payment_p2017_02_customer_id" already exists
psql:../Data/pagila_star.sql:132289: ERROR:  relation "idx_fk_payment_p2017_02_staff_id" already exists
psql:../Data/pagila_star.sql:132296: ERROR:  relation "idx_fk_payment_p2017_03_customer_id" already exists
psql:../Data/pagila_star.sql:132303: ERROR:  relation "idx_fk_payment_p2017_03_staff_id" already exists
psql:../Data/pagila_star.sql:132310: ERROR:  relation "idx_fk_payment_p2017_04_customer_id" already exists
psql:../Data/pagila_star.sql:132317: ERROR:  relation "idx_fk_payment_p2017_04_staff_id" already exists
psql:../Data/pagila_star.sql:132324: ERROR:  relation "idx_fk_payment_p2017_05_customer_id" already exists
psql:../Data/pagila_star.sql:132331: ERROR:  relation "idx_fk_payment_p2017_05_staff_id" already exists
psql:../Data/pagila_star.sql:132338: ERROR:  relation "idx_fk_payment_p2017_06_customer_id" already exists
psql:../Data/pagila_star.sql:132345: ERROR:  relation "idx_fk_payment_p2017_06_staff_id" already exists
psql:../Data/pagila_star.sql:132352: ERROR:  relation "idx_fk_store_id" already exists
psql:../Data/pagila_star.sql:132359: ERROR:  relation "idx_last_name" already exists
psql:../Data/pagila_star.sql:132366: ERROR:  relation "idx_store_id_film_id" already exists
psql:../Data/pagila_star.sql:132373: ERROR:  relation "idx_title" already exists
psql:../Data/pagila_star.sql:132380: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:../Data/pagila_star.sql:132387: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:../Data/pagila_star.sql:132394: ERROR:  relation "payment_p2017_01_customer_id_idx" already exists
psql:../Data/pagila_star.sql:132401: ERROR:  relation "payment_p2017_02_customer_id_idx" already exists
psql:../Data/pagila_star.sql:132408: ERROR:  relation "payment_p2017_03_customer_id_idx" already exists
psql:../Data/pagila_star.sql:132415: ERROR:  relation "payment_p2017_04_customer_id_idx" already exists
psql:../Data/pagila_star.sql:132422: ERROR:  relation "payment_p2017_05_customer_id_idx" already exists
psql:../Data/pagila_star.sql:132429: ERROR:  relation "payment_p2017_06_customer_id_idx" already exists
psql:../Data/pagila_star.sql:132520: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:../Data/pagila_star.sql:132527: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:../Data/pagila_star.sql:132534: ERROR:  trigger "last_updated" for relation "address" already exists
psql:../Data/pagila_star.sql:132541: ERROR:  trigger "last_updated" for relation "category" already exists
psql:../Data/pagila_star.sql:132548: ERROR:  trigger "last_updated" for relation "city" already exists
psql:../Data/pagila_star.sql:132555: ERROR:  trigger "last_updated" for relation "country" already exists
psql:../Data/pagila_star.sql:132562: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:../Data/pagila_star.sql:132569: ERROR:  trigger "last_updated" for relation "film" already exists
psql:../Data/pagila_star.sql:132576: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:../Data/pagila_star.sql:132583: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:../Data/pagila_star.sql:132590: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:../Data/pagila_star.sql:132597: ERROR:  trigger "last_updated" for relation "language" already exists

psql:../Data/pagila_star.sql:132604: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:../Data/pagila_star.sql:132611: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:../Data/pagila_star.sql:132618: ERROR:  trigger "last_updated" for relation "store" already exists
psql:../Data/pagila_star.sql:132626: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:../Data/pagila_star.sql:132634: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:../Data/pagila_star.sql:132642: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:../Data/pagila_star.sql:132650: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:../Data/pagila_star.sql:132658: ERROR:  constraint "factsales_customer_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:132666: ERROR:  constraint "factsales_date_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:132674: ERROR:  constraint "factsales_movie_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:132682: ERROR:  constraint "factsales_store_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:132690: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:../Data/pagila_star.sql:132698: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:../Data/pagila_star.sql:132706: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:../Data/pagila_star.sql:132714: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:../Data/pagila_star.sql:132722: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:../Data/pagila_star.sql:132730: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:../Data/pagila_star.sql:132738: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:../Data/pagila_star.sql:132746: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:../Data/pagila_star.sql:132754: ERROR:  constraint "payment_p2017_01_customer_id_fkey" for relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:132762: ERROR:  constraint "payment_p2017_01_rental_id_fkey" for relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:132770: ERROR:  constraint "payment_p2017_01_staff_id_fkey" for relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:132778: ERROR:  constraint "payment_p2017_02_customer_id_fkey" for relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:132786: ERROR:  constraint "payment_p2017_02_rental_id_fkey" for relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:132794: ERROR:  constraint "payment_p2017_02_staff_id_fkey" for relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:132802: ERROR:  constraint "payment_p2017_03_customer_id_fkey" for relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:132810: ERROR:  constraint "payment_p2017_03_rental_id_fkey" for relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:132818: ERROR:  constraint "payment_p2017_03_staff_id_fkey" for relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:132826: ERROR:  constraint "payment_p2017_04_customer_id_fkey" for relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:132834: ERROR:  constraint "payment_p2017_04_rental_id_fkey" for relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:132842: ERROR:  constraint "payment_p2017_04_staff_id_fkey" for relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:132850: ERROR:  constraint "payment_p2017_05_customer_id_fkey" for relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:132858: ERROR:  constraint "payment_p2017_05_rental_id_fkey" for relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:132866: ERROR:  constraint "payment_p2017_05_staff_id_fkey" for relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:132874: ERROR:  constraint "payment_p2017_06_customer_id_fkey" for relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:132882: ERROR:  constraint "payment_p2017_06_rental_id_fkey" for relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:132890: ERROR:  constraint "payment_p2017_06_staff_id_fkey" for relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:132898: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:../Data/pagila_star.sql:132906: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:../Data/pagila_star.sql:132914: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:../Data/pagila_star.sql:132922: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:../Data/pagila_star.sql:132930: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:../Data/pagila_star.sql:132938: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists
 set_config
------------

(1 row)

psql:../Data/pagila_star.sql:132973: ERROR:  type "mpaa_rating" already exists
psql:../Data/pagila_star.sql:132983: ERROR:  type "year" already exists
psql:../Data/pagila_star.sql:133000: ERROR:  function "_group_concat" already exists with same argument types
psql:../Data/pagila_star.sql:133017: ERROR:  function "film_in_stock" already exists with same argument types
psql:../Data/pagila_star.sql:133034: ERROR:  function "film_not_in_stock" already exists with same argument types
psql:../Data/pagila_star.sql:133079: ERROR:  function "get_customer_balance" already exists with same argument types
psql:../Data/pagila_star.sql:133101: ERROR:  function "inventory_held_by_customer" already exists with same argument types
psql:../Data/pagila_star.sql:133138: ERROR:  function "inventory_in_stock" already exists with same argument types
psql:../Data/pagila_star.sql:133156: ERROR:  function "last_day" already exists with same argument types
psql:../Data/pagila_star.sql:133171: ERROR:  function "last_updated" already exists with same argument types
psql:../Data/pagila_star.sql:133195: ERROR:  relation "customer" already exists
psql:../Data/pagila_star.sql:133259: ERROR:  function "rewards_report" already exists with same argument types
psql:../Data/pagila_star.sql:133271: ERROR:  function "group_concat" already exists with same argument types
psql:../Data/pagila_star.sql:133285: ERROR:  relation "actor_actor_id_seq" already exists
psql:../Data/pagila_star.sql:133299: ERROR:  relation "actor" already exists
psql:../Data/pagila_star.sql:133313: ERROR:  relation "category_category_id_seq" already exists
psql:../Data/pagila_star.sql:133326: ERROR:  relation "category" already exists
psql:../Data/pagila_star.sql:133340: ERROR:  relation "film_film_id_seq" already exists
psql:../Data/pagila_star.sql:133364: ERROR:  relation "film" already exists
psql:../Data/pagila_star.sql:133377: ERROR:  relation "film_actor" already exists
psql:../Data/pagila_star.sql:133390: ERROR:  relation "film_category" already exists
psql:../Data/pagila_star.sql:133413: ERROR:  relation "actor_info" already exists
psql:../Data/pagila_star.sql:133427: ERROR:  relation "address_address_id_seq" already exists
psql:../Data/pagila_star.sql:133445: ERROR:  relation "address" already exists
psql:../Data/pagila_star.sql:133459: ERROR:  relation "city_city_id_seq" already exists
psql:../Data/pagila_star.sql:133473: ERROR:  relation "city" already exists
psql:../Data/pagila_star.sql:133487: ERROR:  relation "country_country_id_seq" already exists
psql:../Data/pagila_star.sql:133500: ERROR:  relation "country" already exists
psql:../Data/pagila_star.sql:133514: ERROR:  relation "customer_customer_id_seq" already exists
psql:../Data/pagila_star.sql:133529: ERROR:  relation "customer_customer_id_seq1" already exists

psql:../Data/pagila_star.sql:133561: ERROR:  relation "customer_list" already exists
psql:../Data/pagila_star.sql:133587: ERROR:  relation "dimcustomer" already exists
psql:../Data/pagila_star.sql:133602: ERROR:  relation "dimcustomer_customer_key_seq" already exists
psql:../Data/pagila_star.sql:133627: ERROR:  relation "dimdate" already exists
psql:../Data/pagila_star.sql:133642: ERROR:  relation "dimdate_date_key_seq" already exists
psql:../Data/pagila_star.sql:133670: ERROR:  relation "dimmovie" already exists
psql:../Data/pagila_star.sql:133685: ERROR:  relation "dimmovie_movie_key_seq" already exists
psql:../Data/pagila_star.sql:133714: ERROR:  relation "dimstore" already exists
psql:../Data/pagila_star.sql:133729: ERROR:  relation "dimstore_store_key_seq" already exists
psql:../Data/pagila_star.sql:133752: ERROR:  relation "factsales" already exists
psql:../Data/pagila_star.sql:133767: ERROR:  relation "factsales_sales_key_seq" already exists
psql:../Data/pagila_star.sql:133797: ERROR:  relation "film_list" already exists
psql:../Data/pagila_star.sql:133811: ERROR:  relation "inventory_inventory_id_seq" already exists
psql:../Data/pagila_star.sql:133825: ERROR:  relation "inventory" already exists
psql:../Data/pagila_star.sql:133839: ERROR:  relation "language_language_id_seq" already exists
psql:../Data/pagila_star.sql:133852: ERROR:  relation "language" already exists
psql:../Data/pagila_star.sql:133875: ERROR:  relation "nicer_but_slower_film_list" already exists
psql:../Data/pagila_star.sql:133889: ERROR:  relation "payment_payment_id_seq" already exists
psql:../Data/pagila_star.sql:133906: ERROR:  relation "payment" already exists
psql:../Data/pagila_star.sql:133922: ERROR:  relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:133923: ERROR:  "payment_p2017_01" is already a partition
psql:../Data/pagila_star.sql:133939: ERROR:  relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:133940: ERROR:  "payment_p2017_02" is already a partition
psql:../Data/pagila_star.sql:133956: ERROR:  relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:133957: ERROR:  "payment_p2017_03" is already a partition
psql:../Data/pagila_star.sql:133973: ERROR:  relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:133974: ERROR:  "payment_p2017_04" is already a partition
psql:../Data/pagila_star.sql:133990: ERROR:  relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:133991: ERROR:  "payment_p2017_05" is already a partition
psql:../Data/pagila_star.sql:134007: ERROR:  relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:134008: ERROR:  "payment_p2017_06" is already a partition
psql:../Data/pagila_star.sql:134022: ERROR:  relation "rental_rental_id_seq" already exists
psql:../Data/pagila_star.sql:134039: ERROR:  relation "rental" already exists
psql:../Data/pagila_star.sql:134058: ERROR:  relation "sales_by_film_category" already exists
psql:../Data/pagila_star.sql:134072: ERROR:  relation "staff_staff_id_seq" already exists
psql:../Data/pagila_star.sql:134093: ERROR:  relation "staff" already exists
psql:../Data/pagila_star.sql:134107: ERROR:  relation "store_store_id_seq" already exists
psql:../Data/pagila_star.sql:134121: ERROR:  relation "store" already exists
psql:../Data/pagila_star.sql:134143: ERROR:  relation "sales_by_store" already exists
psql:../Data/pagila_star.sql:134164: ERROR:  relation "staff_list" already exists
psql:../Data/pagila_star.sql:134416: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
psql:../Data/pagila_star.sql:135027: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
psql:../Data/pagila_star.sql:135051: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
psql:../Data/pagila_star.sql:135659: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
psql:../Data/pagila_star.sql:135776: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
psql:../Data/pagila_star.sql:136383: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
psql:../Data/pagila_star.sql:136990: ERROR:  duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(1) already exists.
CONTEXT:  COPY dimcustomer, line 1
psql:../Data/pagila_star.sql:137038: ERROR:  duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20170407) already exists.
CONTEXT:  COPY dimdate, line 1
psql:../Data/pagila_star.sql:138046: ERROR:  duplicate key value violates unique constraint "dimmovie_pkey"
DETAIL:  Key (movie_key)=(1) already exists.
CONTEXT:  COPY dimmovie, line 1
psql:../Data/pagila_star.sql:138056: ERROR:  duplicate key value violates unique constraint "dimstore_pkey"
DETAIL:  Key (store_key)=(1) already exists.
CONTEXT:  COPY dimstore, line 1
psql:../Data/pagila_star.sql:154113: ERROR:  duplicate key value violates unique constraint "factsales_pkey"
DETAIL:  Key (sales_key)=(1) already exists.
CONTEXT:  COPY factsales, line 1
psql:../Data/pagila_star.sql:155121: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:../Data/pagila_star.sql:160591: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:../Data/pagila_star.sql:161599: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
psql:../Data/pagila_star.sql:166188: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
psql:../Data/pagila_star.sql:166202: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
psql:../Data/pagila_star.sql:198351: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
psql:../Data/pagila_star.sql:198361: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
psql:../Data/pagila_star.sql:198371: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
      1
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

psql:../Data/pagila_star.sql:198512: ERROR:  multiple primary keys for table "actor" are not allowed
psql:../Data/pagila_star.sql:198520: ERROR:  multiple primary keys for table "address" are not allowed
psql:../Data/pagila_star.sql:198528: ERROR:  multiple primary keys for table "category" are not allowed
psql:../Data/pagila_star.sql:198536: ERROR:  multiple primary keys for table "city" are not allowed
psql:../Data/pagila_star.sql:198544: ERROR:  multiple primary keys for table "country" are not allowed
psql:../Data/pagila_star.sql:198552: ERROR:  multiple primary keys for table "customer" are not allowed
psql:../Data/pagila_star.sql:198560: ERROR:  multiple primary keys for table "dimcustomer" are not allowed
psql:../Data/pagila_star.sql:198568: ERROR:  multiple primary keys for table "dimdate" are not allowed
psql:../Data/pagila_star.sql:198576: ERROR:  multiple primary keys for table "dimmovie" are not allowed
psql:../Data/pagila_star.sql:198584: ERROR:  multiple primary keys for table "dimstore" are not allowed
psql:../Data/pagila_star.sql:198592: ERROR:  multiple primary keys for table "factsales" are not allowed
psql:../Data/pagila_star.sql:198600: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:../Data/pagila_star.sql:198608: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:../Data/pagila_star.sql:198616: ERROR:  multiple primary keys for table "film" are not allowed
psql:../Data/pagila_star.sql:198624: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:../Data/pagila_star.sql:198632: ERROR:  multiple primary keys for table "language" are not allowed
psql:../Data/pagila_star.sql:198640: ERROR:  multiple primary keys for table "rental" are not allowed
psql:../Data/pagila_star.sql:198648: ERROR:  multiple primary keys for table "staff" are not allowed
psql:../Data/pagila_star.sql:198656: ERROR:  multiple primary keys for table "store" are not allowed
psql:../Data/pagila_star.sql:198663: ERROR:  relation "film_fulltext_idx" already exists
psql:../Data/pagila_star.sql:198670: ERROR:  relation "idx_actor_last_name" already exists
psql:../Data/pagila_star.sql:198677: ERROR:  relation "idx_fk_address_id" already exists
psql:../Data/pagila_star.sql:198684: ERROR:  relation "idx_fk_city_id" already exists
psql:../Data/pagila_star.sql:198691: ERROR:  relation "idx_fk_country_id" already exists
psql:../Data/pagila_star.sql:198698: ERROR:  relation "idx_fk_customer_id" already exists
psql:../Data/pagila_star.sql:198705: ERROR:  relation "idx_fk_film_id" already exists
psql:../Data/pagila_star.sql:198712: ERROR:  relation "idx_fk_inventory_id" already exists
psql:../Data/pagila_star.sql:198719: ERROR:  relation "idx_fk_language_id" already exists
psql:../Data/pagila_star.sql:198726: ERROR:  relation "idx_fk_original_language_id" already exists
psql:../Data/pagila_star.sql:198733: ERROR:  relation "idx_fk_payment_p2017_01_customer_id" already exists
psql:../Data/pagila_star.sql:198740: ERROR:  relation "idx_fk_staff_id" already exists
psql:../Data/pagila_star.sql:198747: ERROR:  relation "idx_fk_payment_p2017_01_staff_id" already exists
psql:../Data/pagila_star.sql:198754: ERROR:  relation "idx_fk_payment_p2017_02_customer_id" already exists
psql:../Data/pagila_star.sql:198761: ERROR:  relation "idx_fk_payment_p2017_02_staff_id" already exists
psql:../Data/pagila_star.sql:198768: ERROR:  relation "idx_fk_payment_p2017_03_customer_id" already exists
psql:../Data/pagila_star.sql:198775: ERROR:  relation "idx_fk_payment_p2017_03_staff_id" already exists
psql:../Data/pagila_star.sql:198782: ERROR:  relation "idx_fk_payment_p2017_04_customer_id" already exists
psql:../Data/pagila_star.sql:198789: ERROR:  relation "idx_fk_payment_p2017_04_staff_id" already exists
psql:../Data/pagila_star.sql:198796: ERROR:  relation "idx_fk_payment_p2017_05_customer_id" already exists
psql:../Data/pagila_star.sql:198803: ERROR:  relation "idx_fk_payment_p2017_05_staff_id" already exists
psql:../Data/pagila_star.sql:198810: ERROR:  relation "idx_fk_payment_p2017_06_customer_id" already exists
psql:../Data/pagila_star.sql:198817: ERROR:  relation "idx_fk_payment_p2017_06_staff_id" already exists
psql:../Data/pagila_star.sql:198824: ERROR:  relation "idx_fk_store_id" already exists
psql:../Data/pagila_star.sql:198831: ERROR:  relation "idx_last_name" already exists
psql:../Data/pagila_star.sql:198838: ERROR:  relation "idx_store_id_film_id" already exists
psql:../Data/pagila_star.sql:198845: ERROR:  relation "idx_title" already exists
psql:../Data/pagila_star.sql:198852: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:../Data/pagila_star.sql:198859: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:../Data/pagila_star.sql:198866: ERROR:  relation "payment_p2017_01_customer_id_idx" already exists
psql:../Data/pagila_star.sql:198873: ERROR:  relation "payment_p2017_02_customer_id_idx" already exists
psql:../Data/pagila_star.sql:198880: ERROR:  relation "payment_p2017_03_customer_id_idx" already exists
psql:../Data/pagila_star.sql:198887: ERROR:  relation "payment_p2017_04_customer_id_idx" already exists
psql:../Data/pagila_star.sql:198894: ERROR:  relation "payment_p2017_05_customer_id_idx" already exists
psql:../Data/pagila_star.sql:198901: ERROR:  relation "payment_p2017_06_customer_id_idx" already exists
psql:../Data/pagila_star.sql:198992: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:../Data/pagila_star.sql:198999: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:../Data/pagila_star.sql:199006: ERROR:  trigger "last_updated" for relation "address" already exists
psql:../Data/pagila_star.sql:199013: ERROR:  trigger "last_updated" for relation "category" already exists
psql:../Data/pagila_star.sql:199020: ERROR:  trigger "last_updated" for relation "city" already exists
psql:../Data/pagila_star.sql:199027: ERROR:  trigger "last_updated" for relation "country" already exists
psql:../Data/pagila_star.sql:199034: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:../Data/pagila_star.sql:199041: ERROR:  trigger "last_updated" for relation "film" already exists
psql:../Data/pagila_star.sql:199048: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:../Data/pagila_star.sql:199055: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:../Data/pagila_star.sql:199062: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:../Data/pagila_star.sql:199069: ERROR:  trigger "last_updated" for relation "language" already exists
psql:../Data/pagila_star.sql:199076: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:../Data/pagila_star.sql:199083: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:../Data/pagila_star.sql:199090: ERROR:  trigger "last_updated" for relation "store" already exists
psql:../Data/pagila_star.sql:199098: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:../Data/pagila_star.sql:199106: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:../Data/pagila_star.sql:199114: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:../Data/pagila_star.sql:199122: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:../Data/pagila_star.sql:199130: ERROR:  constraint "factsales_customer_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:199138: ERROR:  constraint "factsales_date_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:199146: ERROR:  constraint "factsales_movie_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:199154: ERROR:  constraint "factsales_store_key_fkey" for relation "factsales" already exists
psql:../Data/pagila_star.sql:199162: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:../Data/pagila_star.sql:199170: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:../Data/pagila_star.sql:199178: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:../Data/pagila_star.sql:199186: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:../Data/pagila_star.sql:199194: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:../Data/pagila_star.sql:199202: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:../Data/pagila_star.sql:199210: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:../Data/pagila_star.sql:199218: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:../Data/pagila_star.sql:199226: ERROR:  constraint "payment_p2017_01_customer_id_fkey" for relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:199234: ERROR:  constraint "payment_p2017_01_rental_id_fkey" for relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:199242: ERROR:  constraint "payment_p2017_01_staff_id_fkey" for relation "payment_p2017_01" already exists
psql:../Data/pagila_star.sql:199250: ERROR:  constraint "payment_p2017_02_customer_id_fkey" for relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:199258: ERROR:  constraint "payment_p2017_02_rental_id_fkey" for relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:199266: ERROR:  constraint "payment_p2017_02_staff_id_fkey" for relation "payment_p2017_02" already exists
psql:../Data/pagila_star.sql:199274: ERROR:  constraint "payment_p2017_03_customer_id_fkey" for relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:199282: ERROR:  constraint "payment_p2017_03_rental_id_fkey" for relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:199290: ERROR:  constraint "payment_p2017_03_staff_id_fkey" for relation "payment_p2017_03" already exists
psql:../Data/pagila_star.sql:199298: ERROR:  constraint "payment_p2017_04_customer_id_fkey" for relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:199306: ERROR:  constraint "payment_p2017_04_rental_id_fkey" for relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:199314: ERROR:  constraint "payment_p2017_04_staff_id_fkey" for relation "payment_p2017_04" already exists
psql:../Data/pagila_star.sql:199322: ERROR:  constraint "payment_p2017_05_customer_id_fkey" for relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:199330: ERROR:  constraint "payment_p2017_05_rental_id_fkey" for relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:199338: ERROR:  constraint "payment_p2017_05_staff_id_fkey" for relation "payment_p2017_05" already exists
psql:../Data/pagila_star.sql:199346: ERROR:  constraint "payment_p2017_06_customer_id_fkey" for relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:199354: ERROR:  constraint "payment_p2017_06_rental_id_fkey" for relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:199362: ERROR:  constraint "payment_p2017_06_staff_id_fkey" for relation "payment_p2017_06" already exists
psql:../Data/pagila_star.sql:199370: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:../Data/pagila_star.sql:199378: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:../Data/pagila_star.sql:199386: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:../Data/pagila_star.sql:199394: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:../Data/pagila_star.sql:199402: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:../Data/pagila_star.sql:199410: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists

### Connect to the local database where Pagila is loaded

In [1]:
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'postgres'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://postgres:student@127.0.0.1:5432/pagila_star

In [ ]:
### Star Schema
<img src="../Images/lesson-1-exercise-1-step-4.png" width="50%">

# Start with a simple cube
TODO: Write a query that calculates the revenue (sales_amount) by day, rating, and city. Remember to join with the appropriate dimension tables to replace the keys with the dimension labels. Sort by revenue in descending order and limit to the first 20 rows. The first few rows of your output should match the table below.

In [2]:
%%time
%%sql 

SELECT 
    d.day, 
    m.rating, 
    s.city, 
    SUM(f.sales_amount) AS revenue 
FROM factsales as f
JOIN dimdate as d ON (d.date_key=f.date_key)
JOIN dimmovie as m ON (m.movie_key=f.movie_key)
JOIN dimstore as s ON (s.store_key=f.store_key)
GROUP BY (d.day, m.rating, s.city)
ORDER BY revenue desc
LIMIT 20;

 * postgresql://postgres:***@127.0.0.1:5432/pagila_star
20 rows affected.
CPU times: user 4.71 ms, sys: 2.29 ms, total: 7.01 ms
Wall time: 49.9 ms

[(30, 'PG-13', 'Lethbridge', Decimal('784.21')),
 (30, 'G', 'Lethbridge', Decimal('730.48')),
 (30, 'R', 'Lethbridge', Decimal('683.46')),
 (30, 'NC-17', 'Woodridge', Decimal('667.49')),
 (30, 'NC-17', 'Lethbridge', Decimal('646.51')),
 (30, 'PG-13', 'Woodridge', Decimal('635.48')),
 (30, 'PG', 'Woodridge', Decimal('593.57')),
 (30, 'G', 'Woodridge', Decimal('587.58')),
 (20, 'PG-13', 'Lethbridge', Decimal('538.93')),
 (30, 'PG', 'Lethbridge', Decimal('521.78')),
 (21, 'PG-13', 'Lethbridge', Decimal('499.92')),
 (30, 'R', 'Woodridge', Decimal('495.74')),
 (17, 'PG-13', 'Woodridge', Decimal('488.83')),
 (18, 'R', 'Woodridge', Decimal('472.95')),
 (18, 'PG-13', 'Lethbridge', Decimal('466.92')),
 (19, 'PG-13', 'Lethbridge', Decimal('465.87')),
 (19, 'NC-17', 'Woodridge', Decimal('456.98')),
 (28, 'PG-13', 'Lethbridge', Decimal('455.97')),
 (21, 'NC-17', 'Lethbridge', Decimal('451.95')),
 (18, 'NC-17', 'Lethbridge', Decimal('447.01'))]

In [3]:
%%html
<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>city</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>San Bernardino</td>
        <td>24.97</td>
    </tr>
    <tr>
        <td>30</td>
        <td>NC-17</td>
        <td>Apeldoorn</td>
        <td>23.95</td>
    </tr>
    <tr>
        <td>21</td>
        <td>NC-17</td>
        <td>Belm</td>
        <td>22.97</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Zanzibar</td>
        <td>21.97</td>
    </tr>
    <tr>
        <td>28</td>
        <td>R</td>
        <td>Mwanza</td>
        <td>21.97</td>
    </tr>
</tbody></table></div>

## Slicing

Slicing is the reduction of the dimensionality of a cube by 1 e.g. 3 dimensions to 2, fixing one of the dimensions to a single value. In the example above, we have a 3-dimensional cube on day, rating, and country.

TODO: Write a query that reduces the dimensionality of the above example by limiting the results to only include movies with a `rating` of "PG-13". Again, sort by revenue in descending order and limit to the first 20 rows. The first few rows of your output should match the table below.

In [7]:
%%time
%%sql

SELECT 
    d.day,
    m.rating,
    s.city,
    sum(f.sales_amount) AS revenue
FROM factsales f 
JOIN dimdate d ON f.date_key = d.date_key
JOIN dimmovie m ON m.movie_key = f.movie_key
JOIN dimstore s ON s.store_key = f.store_key
WHERE m.rating = 'PG-13'
GROUP BY (d.day, m.rating, s.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://postgres:***@127.0.0.1:5432/pagila_star
20 rows affected.
CPU times: user 3.4 ms, sys: 2.45 ms, total: 5.86 ms
Wall time: 34.5 ms

[(30, 'PG-13', 'Lethbridge', Decimal('784.21')),
 (30, 'PG-13', 'Woodridge', Decimal('635.48')),
 (20, 'PG-13', 'Lethbridge', Decimal('538.93')),
 (21, 'PG-13', 'Lethbridge', Decimal('499.92')),
 (17, 'PG-13', 'Woodridge', Decimal('488.83')),
 (18, 'PG-13', 'Lethbridge', Decimal('466.92')),
 (19, 'PG-13', 'Lethbridge', Decimal('465.87')),
 (28, 'PG-13', 'Lethbridge', Decimal('455.97')),
 (27, 'PG-13', 'Woodridge', Decimal('444.90')),
 (19, 'PG-13', 'Woodridge', Decimal('430.01')),
 (18, 'PG-13', 'Woodridge', Decimal('428.93')),
 (29, 'PG-13', 'Lethbridge', Decimal('414.09')),
 (21, 'PG-13', 'Woodridge', Decimal('391.05')),
 (27, 'PG-13', 'Lethbridge', Decimal('374.14')),
 (28, 'PG-13', 'Woodridge', Decimal('368.12')),
 (17, 'PG-13', 'Lethbridge', Decimal('368.09')),
 (20, 'PG-13', 'Woodridge', Decimal('362.00')),
 (22, 'PG-13', 'Lethbridge', Decimal('347.18')),
 (29, 'PG-13', 'Woodridge', Decimal('326.18')),
 (1, 'PG-13', 'Lethbridge', Decimal('310.30'))]

## Dicing
Dicing is creating a subcube with the same dimensionality but fewer values for  two or more dimensions. 

TODO: Write a query to create a subcube of the initial cube that includes moves with:
* ratings of PG or PG-13
* in the city of Lethbridge or Woodridge
* day equal to 1, 15, or 30

The first few rows of your output should match the table below.

In [22]:
%%time 
%%sql 

SELECT 
    d.day,
    m.rating,
    s.city,
    sum(f.sales_amount) AS revenue 
FROM factSales f
JOIN dimdate d ON f.date_key  = d.date_key
JOIN dimmovie m ON m.movie_key = f.movie_key
JOIN dimstore s ON s.store_key = f.store_key
WHERE m.rating IN ('PG-13', 'PG')
AND s.city IN ('Lethbridge', 'Woodridge')
AND d.day IN (1, 15, 30)
GROUP BY (d.day, m.rating, s.city)
ORDER BY revenue DESC
LIMIT 20;

 * postgresql://postgres:***@127.0.0.1:5432/pagila_star
12 rows affected.
CPU times: user 3.97 ms, sys: 1.65 ms, total: 5.62 ms
Wall time: 11.9 ms

[(30, 'PG-13', 'Lethbridge', Decimal('784.21')),
 (30, 'PG-13', 'Woodridge', Decimal('635.48')),
 (30, 'PG', 'Woodridge', Decimal('593.57')),
 (30, 'PG', 'Lethbridge', Decimal('521.78')),
 (1, 'PG', 'Woodridge', Decimal('316.16')),
 (1, 'PG-13', 'Lethbridge', Decimal('310.30')),
 (1, 'PG-13', 'Woodridge', Decimal('306.30')),
 (1, 'PG', 'Lethbridge', Decimal('296.30')),
 (15, 'PG-13', 'Woodridge', Decimal('195.54')),
 (15, 'PG-13', 'Lethbridge', Decimal('151.61')),
 (15, 'PG', 'Lethbridge', Decimal('140.65')),
 (15, 'PG', 'Woodridge', Decimal('138.66'))]